body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  background-color: #e3e3e3;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.section1 {
  /* height: 100vh; */
  background-image: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%),
  url('../images/section1-bac.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 53px;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 237px;
}
header .header-logo {

}

header .header-links {
  display: flex;
  
}

header .header-links .link-item {
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 20px;
  transition: all ease 0.5s;
}

header .header-links .link-item:hover {
  color: #FFB548;
}  

  header .header-right {
  display: flex;
  align-items: center;
}  
header .header-right .lang-selector {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  display: block;
  margin-right: 35px; 
  cursor: pointer;
  position: relative;
  padding-right: 12px;
  transition: all ease 0.5s;
  
}

header .header-right .lang-selector:hover {
   color: #FFB548;
}
header .header-right .lang-selector::before {
  content: "";
  width: 10px;
  height: 5px;
  background-image: url('../images/icons/dropdown-arrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  margin: auto;
  right: -5px;
  top: -3px;
  bottom: 0;
}

header .header-right .lang-selector::after {
  content: "";
  width: 1px;
  height: 30px;
  position: absolute;
  margin: auto;
  right: -35px;
  top: 0;
  bottom: 0;
}
header .header-right .lang-selector:hover .lang-list {

  display: block;
}
header .header-right .lang-selector .lang-list {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    position: absolute;
    top: 20px;
}



header .header-right .lang-selector .lang-option  {
  display: block;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: all ease 0.5s;
  margin-bottom: 5px;
}

header .header-right .lang-selector .lang-option:hover {
  color: #FFB548;
}  

header .header-right .game-stores {
  color: #FFB548;
  
  padding-left: 25px;
  display: flex;
}

header .header-right .game-stores .store {
  padding: 7.5px;
  display: block;
  transition: all ease 0.5s;
}

header .header-right .game-stores .store img {
  transition: all ease 0.5s;

}

header .header-right .game-stores .store img:hover {
  transform: rotate(360deg);
  
}
.section1-title {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 8px;
}

.section1-subtitle {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 30px;
}

.section1-link {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #1A1917;
  background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
  border-radius: 4px;
  padding: 17.5px;
  transition: all ease 0.5s;
  border: 1px solid transparent;
  margin-bottom: 393px;
}

.section1-link:hover {
  box-shadow: 0px 0px 20px 5px #FFB548;
   background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
   border-radius: 4px;
   padding: 17.5px;
   border: 1px solid rgba(0, 0, 0, 0.2);
  
}

.section1-link span:first-child {
  border-right: 1px solid rgba(0,0,0,0.5);
  padding-right: 11px;
  margin-right: 11px;
}
.button-centred {
  display: flex;
  justify-content: center;
}

.scroll-down {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 22px;
  text-align: justify;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
  padding: 15px;

}

.scroll-down::before {
  content: "";
  position: absolute;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  width: 22px;
  height: 10px;
  background-image: url('../images/icons/scroll\ -down.svg');
  transition: all ease 0.5s;
}

.scroll-down:hover::before {
  transform: translateY(10px);
}

